<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YouTube Showcase</title>
</head>
<body>

<h1>YouTube Showcase</h1>

<ul class="nav">
<li><a href="/"></a>Videos</li>
<li><a href="/new">Add Video</a></li><!-- 
<li><a href="/edit">Edit Video</a></li>
<li><a href="/delete">Delete Video</a></li>
<li><a href="/search">Search</a></li> -->
</ul>

<% yield %>
  
</body>
</html>