<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YouTube Showcase</title>
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="wrap">

<h1>YouTube Showcase</h1>

<h2>The best of YouTube talent</h2>

<ul class="nav">
<li><a href="/">Videos</a></li>
<li><a href="/videos/new">Add</a></li><!-- 
<li><a href="/edit">Edit Video</a></li>
<li><a href="/delete">Delete Video</a></li>
<li><a href="/search">Search</a></li> -->
</ul>

<%= yield %>
  
  </div>
</body>
</html>