<div class="main">
    <form action "/videos" method="get">
      <label for="title">Video Title</label>
      <input type="text" id="title" name="title">
      
      <label for="url">URL</label>
      <input type="text" id="url" name="url">
      
      <label for="genre">Genre</label>
      <input type="text" id="genre" name="genre">
      
      <label for="description">Description</label>
      <textarea type="text" id="description" name="description"></textarea>
      
      <button>Submit Video</button>
    </form>
</div>